@{
    Layout = "_Layout";
}
<h2>Добавить пользователя</h2>
<div>
    <form method="post">
        <p>
            ID :<br />
            <input name="Id" type="number" />
        </p>
        <p>
            Ник:<br />
            <input name="NickName" />
        </p>
        <p>
            Уровень:<br />
            <input name="Lvl" type="number" />
        </p>
        <p>
            Счет:<br />
            <input name="TotalScore" type="number" />
        </p>
        <p>
            <button id="addBtn">Добавить</button>
        </p>
    </form>
</div>
